@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, html, body {
  scroll-behavior: smooth;
}
.section {
    padding-inline: 24px;
}

@media screen and (min-width: 768px) {
    .section {
        padding-inline: 120px;
    }
}

.top-section {
    margin-top: 65px/* 64px */;
    padding-top: 2rem/* 32px */;
    padding-bottom: 2rem/* 32px */;
}

@media screen and (min-width: 768px) {
    .top-section {
      margin-top: 89px;
      padding-top: 3rem/* 48px */;
      padding-bottom: 3rem/* 48px */;
    }
}



.grad-to-bottom {
    background-image: linear-gradient(to bottom, #D42F27,#D93C29,#F6792E);
  }
.grad-to-top {
    background-image: linear-gradient(to top, #F6792E, #D93C29, #D42F27);
  }
  
.grad-to-right {
    background-image: linear-gradient(to right,#F6792E, #D93C29, #D42F27);
  }
  